/*CSS document*/
/******************************MEYER RESET*************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
/*	font: inherit;*/
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*ADDED TO THE RESET BY KAT*/
html {
  box-sizing: border-box;
	scroll-behavior: smooth;
}
/*****************************END MEYER RESET*************************/


/*********GLOBAL STYLES**********/

/*Global Fonts*/
* {
font-family:'montserrat',sans-serif;
	line-height: 1.3em;
}
h1,h2,h3,h4,h5,h6,p {
	margin-bottom:20px;
}
h1 {
	font-size:2.3em;
	line-height: 1em;
}
h2 {
	font-weight: 700;
		font-size:2.2em;
}
h3 {
		font-size:1.4em;
}
h4 {
		font-size:1.2em;
}
h5 {
		font-size:1.1em;
}

.italic {
	font-style: italic;
}

.spacer-small {
height:15px;
}
.spacer-med {
height:50px;
}

section#main-content a {
	font-weight:600;
	color:#2da0b0;
}
section#main-content a:hover {
		color: #97d2da;
}

#main-content p {
	line-height:1.6em;
	color:#1F1F20;
	font-weight: 300;
}


/**********GLOBAL GENERAL LAYOUT STYLES*********/

hr.section-divider {
    border-bottom: solid 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #e4edef;
	margin-top:10px;
	margin-bottom:10px;
}

.full-width-content {
	margin-bottom:60px;
}

	.background-image-column {
		min-height:250px;
		background-size:cover;
		background-position: center;
	}
	
	.background-image-column.about1 {
		background-image: url(../img/product.jpg);
		height: auto;
		margin: 30px 0px;
	}



/*********USEFUL REUSABLE CLASSES*******/
/*Fonts*/
.fontweight-light {
	font-weight:400;
}
.fontweight-bold {
	font-weight:800;
}
.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}
.font-size-sml {
	font-size:.8em;
}
.font-size-lrg {
	font-size:2em;
}
.grey-light {
	color: #707070;
}
.grey-dark {
	color:#505050;
}

/*****Positioning****/
.right {
  float: right;
}
.left {
	float:left;
}

.center {
	text-align: center;
}


/****Global Button Styles*****/
.btn-main {
	text-transform: uppercase;
	padding:14px 28px;
	letter-spacing:.1em;
	background-color:transparent;
		border: solid black 1px;
	margin:4px 4px 0 0;
	cursor: pointer;
	border-radius:0;
	font-size:14px;
	font-weight: 600;
}
.btn-main:hover, .btn-main:active, .btn-small:hover {
	background-color:#000;
	color:white;
/*	padding:14px 28px;*/
		border: solid 1px #000;
	cursor: pointer;
}
.btn-small {
	text-transform: uppercase;
	padding:10px 20px;
	letter-spacing:.1em;
	background-color:transparent;
		border: solid black 1px;
	margin:4px 4px 0 0;
	cursor: pointer;
	border-radius:0;
	font-size:10px;
	font-weight: 600;
}


	.anchor-links	.flex-column-third {
		text-transform: uppercase;
    padding: 20px 25px;
    height: 45px;
    display: flex;
    align-items: center;
    background-color: #e4edef;
		font-size:.9em;
		letter-spacing:.05em;
	}


/****Global Form Styles******/
.form-label {
	letter-spacing: .05em;
}


#registration-form input.input-box {
	margin: 4px 0 12px 0;

}

input.input-box {
	padding:14px 16px;
	letter-spacing:.1em;
	background-color:transparent;
		border: solid #646464 1px;
		border-radius:0!important;
	margin: 4px 0 25px 0;
}


/*checkbox label*/
.checkbox-label-container {
  display: block;
  position: relative;
  margin-bottom: 10px;
	padding-top: 3px;
    cursor: pointer;
    font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


input[type="checkbox"] {
		margin-right:8px;
}

			input.item-number-input {
	width:30px;
				height:30px;
			padding:5px;
			 position: relative;
		border: solid #646464 1px;
	border-radius:0;
  background-color:transparent;
  /* Adjusts the ; of the checkboxes on the text baseline */ 
    vertical-align: -5px;
  /* Set here so that Windows' High-Contrast Mode can override */
  color:#000;
	}
	.item-number-label {
		  display: inline;
  position: relative;
  margin-bottom: 10px;
	padding-top: 3px;
    font-size: 14px;
	}

/**********************DESKTOP/TABLET ONLY********************/
@media screen and (min-width: 729px) {

	/**********DESKTOP/TABLET GENERAL LAYOUT STYLES*********/
	section#main-content{	
  padding:10% 11% 8%;
		}

.flex-row {
display: flex;
}

.flex-column-half {
width: 50%;
}
	
	.flex-column-third {
		width:33%;
	}
	
	.vert-center {
		align-items:center;
	}
	
.text-column {
	padding:60px;
}
	
	.text-column.text-on-right {
		padding-left:60px;
		padding-right:0px;
	}
	.text-column.text-on-left {
		padding-left:0px;
		padding-right:60px;
	}

	/*desktop/tablet button styles*/
		.anchor-links	.flex-column-third {
			margin:10px 10px;
}
	
/*desktop/tablet form styling*/
	
	input.input-box {
	min-width:300px;
	}

	
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}
input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  width: 1.4em;
  height: 1.4em;
		border: solid #646464 1px;
	border-radius:0;
  background-color:transparent;
  /* Adjusts the ; of the checkboxes on the text baseline */ 
    vertical-align: -5px;
  /* Set here so that Windows' High-Contrast Mode can override */
  color:#000;
}

input[type="checkbox"]::before {
  content: "✔";
	color:white!important;
  position: absolute;
  font-weight:800;
  font-size: .9em;
  left: .3em;
  top: 0;
  visibility: hidden;
}

input[type="checkbox"]:checked::before {
  /* Use `visibility` instead of `display` to avoid recalculating layout */
  visibility: visible;
}
input[type="checkbox"]:checked {
  background-color:black;
}

input[type="checkbox"]:disabled {
  border-color: black;
  background: #ddd;
  color: gray;
}
	
	
		/***DESKTOP PAGE SPECIFIC - SHOPPING CART STYLES****/
.cart-wrapper {
	display:flex;
	}
		.cart-column.cart-image-column {
	width:150px;			
}
	.cart-column.cart-name-column {
	width:200px;
}
	.cart-column.cart-button-column {	
	width:50%;
	}	
		.cart-column.item-number-column {	
	width:50%;
	}	

.cart-column.cart-price-column {
	width:100px;
	text-align: end;
}

	.flex-row.cart-totals {
/*    width: 100%;*/
		    justify-content: flex-end;
/*		padding:25px;*/
}
	.before-checkout-column {
	width:120px;
	}
}
	
/**********************MOBILE ONLY********************/
@media screen and (max-width: 728px) {
	
	/**********MOBILE GENERAL LAYOUT STYLES*********/
		section#main-content{	
  padding:15px 25px 35px;
		}
	.flex-column-half {
  display: block;
}
	
	.text-column {
	padding:25px 0px;
}
	
		/*mobile button styles*/
		.anchor-links	.flex-column-third {
    margin-top: 10px;
	  margin-bottom: 10px;
}
	
	/*mobile form styling*/
	input.input-box {
	min-width:80vw;
		max-width: 90vw;
	}
	
	/***MOBILE PAGE SPECIFIC - SHOPPING CART STYLES****/
.cart-wrapper {
	display:block;
	}
	
	.cart-column {	
	width:100%;
	padding-top:30px;
	}
	.cart-totals.flex-row {
	width:100%;
		display:flex;
	}
	.before-checkout-column {
		width:50%;
	}
	}
	
	
	
	
	/***************************CLASSES - FONTS************************/
	.text-in-divider {
		margin-top:30px;
	color:#AEAEAE;
}
.text-in-divider-div {
	padding-top:25px;
	padding-bottom:25px;
	}
.text-in-divider:before, .text-in-divider:after {
    background-color: #AEAEAE;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 60px;
}

p.legal-text {
	font-size:10px;
	letter-spacing: .1em;
	font-weight: 300;
}


/***********************PAGE SPECIFIC CLASSES - PRODUCT GRID***********************/
.product-grid-wrapper {
	display:flex;
}
.product-grid-column {
	width:33%;
	padding:40px;
}


/***********************PAGE SPECIFIC CLASSES - PRODUCT INDIVIDUAL***********************/


.product-image {
    height: auto;
    width: 100%;
		max-width: 100%;
}

.product-text-column {
	padding:40px;
		font-size:.9em;
}

.product-description {
	margin-bottom:30px;
}

div.product-property {
	margin-bottom:15px;
}

div.product-property {
	margin-bottom:15px;
}

/***********************PAGE SPECIFIC CLASSES - SHOPPING CART***********************/


.product-in-cart {
/*    height: 100px;*/
    width:100%;
	border:solid black 1px;
	max-width:130px;
}

.cart-wrapper {
	background-color:#efefef;
	border-bottom: solid white 5px;
padding:10px 20px;
}

.cart-column {
	padding:10px;
	font-size:.8em;
}

.cart-column h5 {
	margin-bottom:0px
}

input.cart-item-number-input {
	padding:5px;
	width:20px;
	height:20px;
		letter-spacing:.1em;
	background-color:transparent;
		border: solid black 1px;
	margin:4px 4px 0 0;
	border-radius:0;
	font-size:10px;
	font-weight: 600;
	 position: relative;
}

	.cart-totals {
    text-align: right;
}
.before-checkout-column {
	align-content: flex-end;
			padding:10px 20px;
		background-color:#efefef;
}

.cart-grand-total .before-checkout-column {
	background-color:#121212;
	color:white;
	font-weight: 600;
}

/*	.item-number-label {
		  display: inline;
  position: relative;
  margin-bottom: 10px;
	padding-top: 3px;
    font-size: 14px;
	}*/


/***********************PAGE SPECIFIC CLASSES - ABOUT***********************/
ul.about-the-name li {
    padding: 30px 60px 0px;
}

span.about-the-name-box {
	text-transform: uppercase;
	letter-spacing: .05em;
	font-size: 1.5em;
	margin-right:3px;
}