/*CSS document*/
/******************************MEYER RESET*************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*	font: inherit;*/
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
/*
body {
  line-height: 1.2;
}
*/
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*ADDED TO THE RESET BY KAT*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/*****************************END MEYER RESET*************************/


/*********GLOBAL STYLES**********/

/*Global Fonts*/
* {
  font-family: 'montserrat', sans-serif;
      letter-spacing: 0.02em;
}
h1, h2, h3, h4, h5, h6, p, ul {
  margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6{
  line-height: 1.1em;
}
h1 {
  font-size: 2.3em;
}
h2 {
  font-weight: 700;
  font-size: 1.8em;
}
h3 {
    font-weight: 600;
  font-size: 1.4em;
}
h4 {
      font-weight: 600;
  font-size: 1.2em;
}
h5 {
      font-weight: 600;
  font-size: 1.1em;
}
h6 {
      font-weight: 600;
  font-size: 1em;
}

.subhead {
  font-size:1.7em;
  line-height:1em;
}

.italic {
  font-style: italic;
}
.spacer-small {
  height: 15px;
}
.spacer-med {
  height: 50px;
}
body a {
  font-weight: 600;
  color: #2da0b0;
}
body a:hover {
  color: #97d2da;
}
body p, body ul {
  line-height: 1.3em;
  color: #1F1F20;
  font-weight: 500;
/*    letter-spacing: .03em;*/
  font-size:13px;
}
/**********GLOBAL GENERAL LAYOUT STYLES*********/
hr.basic-divider {
    border-bottom: solid 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: #efefef;

/*  margin-bottom: 10px;*/
}

hr.section-divider {
  border-bottom: solid 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: #e4edef;
  margin-top: 10px;
  margin-bottom: 10px;
}
.full-width-content {
  margin-bottom: 60px;
}
.background-image-column {
  min-height: 250px;
  background-size: cover;
  background-position: center;
}

/*KAT MOVED THIS FROM DESKTOP ONLY. MOVE BACK IF IT FUCKS WITH THINGS*/
.vert-center {
  align-items: center;
}

.flex-column-cart-full {
  width: 100%;
}
.flex-column-half {
  width: 50%;
}
.flex-column-third {
  width: 33%;
}
.flex-column-2thirds {
  width: 66%;
}
  .flex-column-60 {
    width:60%;
/*    margin-right: 60px;*/
  }
  .flex-column-40 {
  width: 40%;
}
    .flex-column-70 {
          width:70%;  
    }
    .flex-column-15 {
      width:15%;
    }
  .flex-column-20 {
      width:20%;
    }
.flex-column-10 {
      width:10%;
    }



/*********USEFUL REUSABLE CLASSES*******/
/*Fonts*/
.fontweight-light {
  font-weight: 400;
}
.fontweight-bold {
  font-weight: 800;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.font-size-sml {
  font-size: .8em;
}
.font-size-med {
  font-size: 1.2em;
}
.font-size-medmed {
  font-size: 1em;
}
.font-size-lrg {
  font-size: 2em;
}
.grey-light {
  color: #707070;
}
.grey-dark {
  color: #505050;
}
/*****Positioning****/
.right {
  float: right;
}
.left {
  float: left;
}
.center {
text-align: center;
}
.padding-right {
  padding-right: 30px;
}
.padding-left {
  padding-left: 30px;
}
.padding-left-sml {
  padding-left: 10px;
}
.no-margin {
  margin:0!important;
}

.margin-top-sml {
  margin-top:10px;
}
.margin-top-med {
  margin-top:30px;
}
.margin-top-lrg {
  margin-top:60px;
}
.margin-btm-sml {
  margin-bottom:10px;
}
.margin-btm-med {
  margin-bottom:30px;
}
.margin-btm-lrg {
  margin-bottom:60px;
}
/****Global Button Styles*****/
.btn-main {
  text-transform: uppercase;
  padding: 14px 28px;
  letter-spacing: .1em;
  background-color: transparent;
  border: solid black 1px;
  margin: 4px 4px 0 0;
  cursor: pointer;
  border-radius: 0;
  font-size: 14px;
  font-weight: 600;
}
.btn-main:hover, .btn-main:active, .btn-small:hover {
  background-color: #000;
  color: white;
  /*	padding:14px 28px;*/
  border: solid 1px #000;
  cursor: pointer;
}
.btn-small {
  text-transform: uppercase;
  padding: 10px 20px;
  letter-spacing: .1em;
  background-color: transparent;
  border: solid black 1px;
  margin: 4px 4px 0 0;
  cursor: pointer;
  border-radius: 0;
  font-size: 10px;
  font-weight: 600;
}
.btn-full {
  text-transform: uppercase;
  padding: 10px 28px;
  width: 100%;
  color: #fff;
  letter-spacing: .1em;
  background-color: #000;
  border: solid black 0px;
  /*	margin:4px 4px 0 0;*/
  cursor: pointer;
  border-radius: 0;
  font-size: 13px;
  font-weight: 600;
}
.btn-full:hover {
  background-color: #ffde7b;
  color: #000;
  /*	padding:14px 28px;*/
/*		border: solid 1px #000;*/
  cursor: pointer;
}
.anchor-links .flex-column-third {
  text-transform: uppercase;
  padding: 20px 25px;
  height: 45px;
  display: flex;
  align-items: center;
  background-color: #e4edef;
  font-size: .9em;
  letter-spacing: .05em;
}
/****Global Form Styles******/
.form-label {
  letter-spacing: .05em;
}
input.input-box, select.dropdown-box {
  color: #616263;
/*  padding: 14px 16px;*/
  letter-spacing: .05em;
  background-color: white;
  margin: 4px 0 16px 0;
  border-radius: 0!important;
}

#registration-form input.input-box {
  margin: 4px 0 12px 0;
}

/*checkbox label*/
.checkbox-label-container {
  display: block;
  /*  position: relative;*/
  margin-bottom: 10px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input[type="checkbox"] {
  margin-right: 8px;
}

/*KAT UNDO THIS IF BOXES GET FUCKED
			input.item-number-input {
	width:30px;
				height:30px;
			padding:5px;
		border: solid #646464 1px;
	border-radius:0;
  background-color:transparent;
    vertical-align: -5px;
  color:#000;
	}
	.item-number-label {
		  display: inline;
  position: relative;
  margin-bottom: 10px;
	padding-top: 3px;
    font-size: 14px;
	}
*/
/**********section#main-content PADDING STYLES*********/
@media screen and (min-width: 900px) and (max-width:1200px) {
section#main-content {
  padding: 10% 6% 8%;
}
}
  @media screen and (min-width: 1201px) {
section#main-content {
  padding: 10% 9% 8%;
}
}

/**********************DESKTOP ONLY********************/
@media screen and (min-width: 900px) {
/**********DESKTOP GENERAL LAYOUT STYLES*********/

.flex-row {
  display: flex;
}

section.sixtyforty-layout div.flex-column-60 {
 margin-right:40px;
  } 
  
  br.mobile-only {
    display:none;
  }
/*
 KAT all the flex columns used to be here - moved to all screen styles
  
*/
  
.text-column {
  padding: 60px;
}
.text-column.text-on-right {
  padding-left: 60px;
  padding-right: 0px;
}
.text-column.text-on-left {
  padding-left: 0px;
  padding-right: 60px;
}
/*desktop button styles*/
.anchor-links .flex-column-third {
  margin: 10px 10px;
}
/*desktop form styling*/
  
  input.input-box, select.dropdown-box {
        border: 14px solid white;
/*        box-shadow: inset 0px 0px 0px 10px white;*/
        box-sizing: border-box; /* Include padding and border in element's width and height */
        outline: solid #646464 1px;
        outline-offset: -1px;
    }

input.input-box:focus {
  background-color:#f6fcfd;
    border-color: #f6fcfd;  
}

   input.full, select.full {
      width:100%;
/*      display:inline;*/
    }
	
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}
input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  width: 1.4em;
  height: 1.4em;
  border: solid #646464 1px;
  border-radius: 0;
  background-color: transparent;
  /* Adjusts the ; of the checkboxes on the text baseline */ 
  vertical-align: -5px;
  /* Set here so that Windows' High-Contrast Mode can override */
  color: #000;
}
input[type="checkbox"]::before {
  content: "✔";
  color: white!important;
  position: absolute;
  font-weight: 800;
  font-size: .9em;
  left: .3em;
  top: 0;
  visibility: hidden;
}
input[type="checkbox"]:checked::before {
  /* Use `visibility` instead of `display` to avoid recalculating layout */
  visibility: visible;
}
input[type="checkbox"]:checked {
  background-color: black;
}
input[type="checkbox"]:disabled {
  border-color: black;
  background: #ddd;
  color: gray;
}
/***DESKTOP PAGE SPECIFIC - SHOPPING CART STYLES****/
.cart-wrapper {
  display: flex;
}
.cart-button-div {
  position: relative;
  display: block;
  margin-bottom: 6px;
  z-index:1000;
}
  
   input.number-of-items {
    width: 35px;
  }
    div.plus-minus span {
    width: 35px;
    height: 35px;
  }
.cart-button-div button.btn-main {
  position: absolute;
  right: 0;
  margin-right: 0;
  margin-bottom:20px;
}
  div.cart-button-div.cart-page {   top: -10px;
  }
  
.cart-column.cart-image-column {
  width: 90px;
}
.cart-column.cart-name-column {
  width: 300px;
}
.cart-column.cart-button-column {
  width: 50%;
}
.cart-column.item-number-column {
  width: 170px;
}
.cart-column.cart-price-column {
  width: 100px;
  text-align: end;
  padding-right: 15px;
}
  
  .also-interested-div {
  position:absolute;
  top:80px;
    width:390px;
  }
  
.cart-totals-wrapper {
 position:absolute;
  top:80px;
right:0px;
}
/*
.before-checkout-column {
width:50%;
}
*/
/*****DESKTOP SPECIFIC - MY ACCOUNT PAGE********/
.account-sidebar {
  border-right: solid 1px #C2C2C2;
  width: 170px;
  padding-right: 30px;
  position: fixed;
}
.account-main-content {
  max-width: 700px;
  margin-left: 250px;
}
.account-main-content .flex-column-third {
  padding-right: 20px;
}
/*
.shipping-address-right {
  margin-left: 10px;
  width:50%;
}
.shipping-address-left {
  margin-right: 10px;
    width:50%;
}
.shipping-address-left {
  margin-right: 10px;

*/
/*desktop specific shipping page forms*/
/*
#shippingAddress input.input-box {
  width: 40%;   
  }
*/
 
/*
#shippingAddress input.long-input {
  width: 90%;
}
  
*/
  
/*****DESKTOP SPECIFIC - MY ORDERS PAGE********/
.my-orders-title-wrapper, .my-orders-items-wrapper {
  display: flex;
}
  
  /*****DESKTOP SPECIFIC - PRODUCT INDIVIDUAL PAGE********/
  div.product-wrapper {
  margin-top:60px;
}
  
   .product-non-accordion-panel, .product-description-panel {
    padding: 16px 16px;
  }
  #productImageSlider img {
    width: 130px;
}
      div[title="amtPerServing"], div[title="%DailyValue"] {
          margin-left:12px;
    }

  

/*****DESKTOP SPECIFIC - CHECKOUT PAGE********/

  #shippingDetails .cart-button-div .btn-main {
top: -50px;
}
   #orderDetails .cart-button-div .btn-main {
top: -58px;
}

  div.inline-half {
      display:inline;
      width:100%;
    }
    div.inline-half.left-half {
      margin-right:10px;
    }
}

/**********************MOBILE/TABLET ONLY********************/
@media screen and (max-width: 900px) {
/**********MOBILE GENERAL LAYOUT STYLES*********/
section#main-content {
  padding: 15px 25px 35px;
}
  body p, body ul {
    font-size:16px;
    line-height:1.3em;
  }
  
  br.mobile-only {
    display:inline;
  }
.flex-column-half {
  display: block;
}
section.sixtyforty-layout div.flex-column-40, section.sixtyforty-layout div.flex-column-60 {
    width:100%;
  }

.text-column {
  padding: 25px 0px;
}
/*mobile button styles*/
.anchor-links .flex-column-third {
  margin-top: 10px;
  margin-bottom: 10px;
}
/*
mobile form styling  */
  input.input-box, select.dropdown-box {
padding:16px 14px;
}

input.input-box, select.dropdown {
  min-width: 75vw;
  max-width: 80vw;
}

      select#provinces {
    min-width: 81vw;
  max-width: 83vw;
height: 50px;
        background-color:white!important;
  }
  
  
  
 /***MOBILE SPECIFIC - PRODUCT PAGE STYLES****/ 
  div#productImageSlider {
    display: flex;
    margin-bottom:40px;
}
  .product-non-accordion-panel, .product-description-panel  {
    padding: 16px 0px;
  }
    #productImageSlider img {
    width: 90px;
}
  .product-description-accordion {
    font-size:16px;
  }
  div[title="amtPerServing"], div[title="%DailyValue"] {
    margin-left: 5px;
}

/***MOBILE SPECIFIC - SHOPPING CART STYLES****/
.cart-wrapper {
  display: block;
}
  .cart-button-div {
    margin-bottom: 10px;
}
.cart-column {
  width: 100%;
  padding-top: 30px;
}
.cart-totals.flex-row {
  width: 100%;
  display: flex;
}
  .cart-totals-wrapper {
    margin-top:40px;
    margin-bottom:80px;
  }
  
  input.number-of-items {
 width: 18px;
    padding-left: 8px;
        padding-right: 8px;
  }
  div.plus-minus span {
    width: 33px;
    height: 33px;
  }
/*
  .before-checkout-column {
  width: 50%;
}
*/
  /****MOBILE SPECIFIC - CHECKOUT PAGE********/
    #orderDetails .flex-row {
    display: flex;
}
  #orderDetails button.btn-main {
    margin-bottom: 20px;
}
  
  
/****MOBILE SPECIFIC - MY ACCOUNT********/
.account-sidebar {
  margin-bottom: 20px;
}
.account-main-content p {
  margin-bottom: 0px;
}
.account-main-content {
  padding: 20px 0PX;
}
/*mobile specific my orders page*/
div.my-orders-title-wrapper {
  display: none;
}
}
/***************************CLASSES - FONTS************************/
.text-in-divider {
  margin-top: 30px;
  color: #AEAEAE;
}
.text-in-divider-div {
  padding-top: 25px;
  padding-bottom: 25px;
}
.text-in-divider:before, .text-in-divider:after {
  background-color: #AEAEAE;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 60px;
}
p.legal-text {
  font-size: 10px;
  letter-spacing: .1em;
  font-weight: 300;
}
/***********************PAGE SPECIFIC CLASSES - PRODUCT GRID***********************/
.product-grid-wrapper {
  display: flex;
}
.product-grid-column {
  width: 33%;
  padding: 40px;
}
/***********************PAGE SPECIFIC CLASSES - PRODUCT INDIVIDUAL***********************/

ul.breadcrumb {
  list-style: none;
/*  background-color: #eee;*/
}

ul.breadcrumb li {
  display: inline;
/*  font-size: .8em;*/
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 4px;
  color: #6B6B6B;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #6B6B6B;
  text-decoration: none;
    font-weight: 200;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #99d2d9;
/*  text-decoration: underline;*/
}
.breadcrumb li.current-page {
  color:black;
}
div.main-product-image {
  
}
.product-image {
  height: auto;
  width: 100%;
  max-width: 100%;
  justify-content:center;
  text-align:center;
}

/*product image slider*/
div#productImageSlider {
  justify-content:center;
}

img.active-img {
    border:solid 1px black;
}

img.two-image-slider {
      margin-right: 90px;
}

.slider-nav-left, .slider-nav-right {
    font-size: 23px;
  font-weight:300;
  color:black;
}


/*
.product-text-column {
  font-size: .8em;
}
*/
/*
.product-description {
  margin-bottom: 30px;
}
*/
.product-description-intro {
padding: 4px 0;
  
}
a.black-underline {
  text-decoration: underline;
  color:black;
}
a.black-underline:hover {
  color:#898989;
}
section.product-page input.number-of-items {
   border: 1px solid black;
  }



/*product accordian tabs*/
/* Style the buttons that are used to open and close the accordion panel */
.product-description-accordion {
  background-color: #eaf6f7;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin:1px 0;
  text-transform: uppercase;
    font-weight: 600;
/*    letter-spacing: .03em;*/
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .product-description-accordion:hover {
  background-color: #ccc;
}

/*panel for description above accordion tabls*/
.product-non-accordion-panel {
/*    padding:16px 16px;*/
  background-color: white;
}

/* Style the accordion panel. Note: hidden by default */
.product-description-panel {
  background-color: white;
  overflow: hidden;
  display:none;
  transition: max-height 0.2s ease-out;
}
.product-description-accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 8px;
  color: #777;
  float: right;
  margin-left: 5px;
  margin-top: 3px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}


/*product ingredients*/
  section#productIngredients {
     max-width:450px; 
      font-size:.75em;
    }
    div#ingredientOuterBox {
      border-top: solid black 3px;
      border-bottom:solid black 2px;
/*            padding:6px 0;*/
      margin:6px 0;
    }
    span.ingredient-group-item {
      margin-left:20px;
    }
    .flex-row-ingredients {
      display:flex;
      border-bottom:solid black 1px;
      padding:4px 0px;
    }
    
    div[title="amtPerServing"], div[title="%DailyValue"] {
      text-align:right;
    }

/***********************PAGE SPECIFIC CLASSES - SHOPPING CART***********************/

/*media queries for cart totals box*/
@media only screen and (max-width: 1200px) and (min-width: 900px) {
.cart-totals-wrapper {
  width: 320px;
}
}
@media screen and (min-width: 1201px) {
.cart-totals-wrapper {
  width: 460px;
}
}

.product-in-cart {
  /*    height: 100px;*/
  width: auto;
  height:80px;
  /*	border:solid black 1px;*/
  max-width: 110px;
}
.cart-wrapper {
  background-color: #eaf6f7;
  border-bottom: solid white 5px;
  padding: 0px 4px;
}
.cart-column {
  padding: 10px;
  font-size: .8em;
}
.cart-column h5 {
  margin-bottom: 0px;
}
.cart-name-column span {
  font-size: 12px;
}
div.plus-minus-wrapper {
  display: flex;
}
div.plus-minus span {
width: 35px;
    height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
}
div.plus-minus {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  font-weight: bold;
}
input.number-of-items {
    background-color: #fff;
    border-radius: 0;
    display: flex;
    text-align: center;
    /* align-items: center; */
    /* justify-content: center; */
    letter-spacing: .1em;
    /* margin: auto; */
    font-size: 12px;
    line-height: 14px;
}
/*
input.cart-item-number-input {
	padding:5px;
	width:20px;
	height:20px;
		letter-spacing:.1em;
	background-color:transparent;
		border: solid black 1px;
	margin:4px 4px 0 0;
	border-radius:0;
	font-size:10px;
	font-weight: 600;
	 position: relative;
}
*/

.cart-footer-wrapper {
  min-height:400px;
  display:block;
  width:100%;
  position:relative;
}
.cart-footer-wrapper h3 {
  font-size:1.5em;
}
.cart-totals {
  text-align: right;
}

.before-checkout-column, .blue-box {
  /*	align-content: flex-end;*/
 padding: 12px 16px;
  background-color: #eaf6f7;
  text-align: left;
}
.before-checkout-column {
  margin-top: 2px;
  margin-bottom: 2px;
}

.cart-grand-total .before-checkout-column {
  background-color: #121212;
  color: white;
  font-weight: 600;
}

.also-interested-div span {
  font-size: .8em;
}
.also-interested-div img {
  width: 160px;
  border: solid #D2D0D0 1px;
  margin-right:15px;
}
 .also-interested-div a {
    color:black;
    font-weight:400;
  }

/***********************PAGE SPECIFIC CLASSES - CHECKOUT***********************/

.yellow-box {
  background-color:#ffde7b;
    padding: 8px 16px;
  font-size:.8em;
}
svg.yellow-arrow {
height: 10px;
    transform: translateY(7px) translateX(16px);
}
.f2b6ec71-c2cf-45e4-98a2-3b85341dd17c{fill:#ffde7b;}
#orderDetails div{
  text-align:left;
  font-size:.9em;
}
#shippingDetails .form-label {
  font-size:.7em;
}

.margin-2 {
  margin-top:2px;
}


.order-details-p {
  font-size:.9em;
}
.flex-column-10.blue-box.no-margin {
    text-align: center!important;
}
.flex-row.product-row div.blue-box {
    padding-bottom: 0;
}
.etransfer-div {
  padding:10px 0 0;
}
.interac-logo {
  padding-left:2%;
  width:60px;
  height:auto;
}
/*
.checkout-totals-wrapper {
 width:100%;
}
*/

/***********************PAGE SPECIFIC CLASSES - ABOUT***********************/
ul.about-the-name li {
  padding: 30px 60px 0px;
}
span.about-the-name-box {
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: 1.5em;
  margin-right: 3px;/*	line-height:1.3em;*/
}
.background-image-column.about1 {
  background-image: url(../img/product.jpg);
  height: auto;
  margin: 30px 0px;
}
/***********************PAGE SPECIFIC CLASSES - MY ACCOUNT***********************/

/*account details page global styles*/


/*
.account-sidebar {
	border-right:solid 1px grey;
	width:25%;
	padding-right:10px;
}

.account-main-content {
	width:75%;
	padding-left:10px;
}
*/

.account-sidebar a {
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
}
.account-sidebar li {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 1.1em;
}
.account-sidebar a:active, .account-sidebar-active-link {
  border-bottom: 1px solid #97d2da;
  opacity: .7;
}
.account-sidebar a:hover {
  color: #97d2da;
}
/*my orders page global styles*/
.my-orders-title-wrapper {
  font-size: .85em;
}
.my-orders-items-wrapper {
  font-size: .8em;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: solid 1px;
  ;
}

  
