/*CSS document*/
/******************************MEYER RESET*************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
/*	font: inherit;*/
	vertical-align: baseline;
	text-decoration: none;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*****************************END MEYER RESET*************************/


/*********GLOBAL STYLES**********/

/*Global Fonts*/
* {
font-family:'montserrat',sans-serif;
	line-height: 1.3em;
}
h1,h2,h3,h4,h5,h6 {
	margin-bottom:20px;
}
h1 {
	font-size:2.3em;
}
h2 {
	font-weight: 700;
		font-size:2.2em;
}
h3 {
		font-size:1.4em;
}
h4 {
		font-size:1.2em;
}
h5 {
		font-size:1.1em;
}


/*********USEFUL REUSABLE CLASSES*******/
/*Fonts*/
.fontweight-light {
	font-weight:400;
}
.fontweight-bold {
	font-weight:800;
}
.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}
.font-size-sml {
	font-size:.8em;
}
.font-size-lrg {
	font-size:2em;
}
.grey-light {
	color: #707070;
}
.grey-dark {
	color:#505050;
}

/*****Positioning****/
.right {
  float: right;
}
.left {
	float:left;
}

.center {
	text-align: center;
}


/****Global Button Styles*****/
.btn-main {
	text-transform: uppercase;
	padding:14px 28px;
	letter-spacing:.1em;
	background-color:transparent;
		border: solid black 1px;
	margin:4px 4px 0 0;
	cursor: pointer;
	border-radius:0;
	font-size:14px;
	font-weight: 600;
}
.btn-main:hover, .btn-main:active {
	background-color:#000;
	color:white;
	
		text-transform: uppercase;
	padding:14px 28px;
	letter-spacing:.1em;
		border: solid 1px #000;
	margin:4px 4px 0 0;
	cursor: pointer;
	border-radius:0;
}

/****Global Form Styles******/
.form-label {
	letter-spacing: .05em;
}


#registration-form input.input-box {
	margin: 4px 0 12px 0;

}

input.input-box {
	padding:14px 16px;
	letter-spacing:.1em;
	background-color:transparent;
		border: solid #646464 1px;
		border-radius:0!important;
	margin: 4px 0 25px 0;
}


/*checkbox label*/
.checkbox-label-container {
  display: block;
  position: relative;
  margin-bottom: 10px;
	padding-top: 3px;
    cursor: pointer;
    font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


input[type="checkbox"] {
		margin-right:8px;
}


/**********************DESKTOP/TABLET ONLY********************/
@media screen and (min-width: 729px) {

	/**********MAIN CONTENT STYLES*********/
	section#main-content{	
  padding:10% 15%;
		}

.flex-row {
display: flex;
}

.flex-column-half {
width: 50%;
}
	
	
/*form styling*/
	
	input.input-box {
	min-width:300px;
	}
	
	
			input.item-number-input {
	width:30px;
				height:30px;
			padding:5px;
			 position: relative;
		border: solid #646464 1px;
	border-radius:0;
  background-color:transparent;
  /* Adjusts the ; of the checkboxes on the text baseline */ 
    vertical-align: -5px;
  /* Set here so that Windows' High-Contrast Mode can override */
  color:#000;
	}
	.item-number-label {
		  display: inline;
  position: relative;
  margin-bottom: 10px;
	padding-top: 3px;
    font-size: 14px;
	}
	
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}
input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  width: 1.4em;
  height: 1.4em;
		border: solid #646464 1px;
	border-radius:0;
  background-color:transparent;
  /* Adjusts the ; of the checkboxes on the text baseline */ 
    vertical-align: -5px;
  /* Set here so that Windows' High-Contrast Mode can override */
  color:#000;
}

input[type="checkbox"]::before {
  content: "✔";
	color:white!important;
  position: absolute;
  font-weight:800;
  font-size: .9em;
  left: .3em;
  top: 0;
  visibility: hidden;
}

input[type="checkbox"]:checked::before {
  /* Use `visibility` instead of `display` to avoid recalculating layout */
  visibility: visible;
}
input[type="checkbox"]:checked {
  background-color:black;
}

input[type="checkbox"]:disabled {
  border-color: black;
  background: #ddd;
  color: gray;
}
}
	
/**********************MOBILE ONLY********************/
@media screen and (max-width: 728px) {
	
	/**********MAIN CONTENT STYLES*********/
		section#main-content{	
  padding:15px 25px;
		}
	.flex-column-half {
  display: block;
}
	.product-image {
	max-width: 100%;
	}

	
	/*form styling*/
	input.input-box {
	min-width:80vw;
		max-width: 90vw;
	}
	}
	
	
	
	
	/***************************CLASSES - FONTS************************/
	.text-in-divider {
		margin-top:30px;
	color:#AEAEAE;
}
.text-in-divider-div {
	padding-top:25px;
	padding-bottom:25px;
	}
.text-in-divider:before, .text-in-divider:after {
    background-color: #AEAEAE;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 60px;
}


/***********************PAGE SPECIFIC CLASSES - PRODUCT PAGES***********************/

.product-image {
    height: auto;
    width: 100%;
}

.product-text-column {
	padding:40px;
}

.product-description {
	margin-bottom:30px;
}

.product-property {
	margin-bottom:15px;
}